[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
pandas = "*"
psycopg2 = "*"
openpyxl = "*"
cx-oracle = "*"
jsonschema = "*"
opengrok-search = {file = "dist/opengrok_search-0.0.1-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.11"
